/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'abstracts/variables';
@import 'abstracts/placeholder';
@import 'abstracts/flex';

@import 'base/reset';
@import 'base/breakpoints';

@import 'components/buttons';
@import 'components/forms';
@import 'components/grid';
@import 'components/dialog';
@import 'components/snackbar';
@import 'components/datepicker';
@import 'components/details';
